doctype html
html
	head
		include inc/vars.pug
		include inc/mixins.pug
		- var subTitle = 'Музыка'

		meta(charset='utf-8')
		+title(title.full, subTitle)

		link(rel='canonical' href=`${URLs.same}/games`)

		include inc/meta.pug

		link(rel='stylesheet' href=`https://cdnjs.cloudflare.com/ajax/libs/ilyabirman-likely/${libsVer.likely}/likely.css`)

		+includeStyles(['parsers'])
	body
		include inc/header.pug

		main
			div.games
				include inc/no-js.pug

		include inc/footer.pug

		+includeScripts(['special/edge', 'db/games', 'parsers'])

		script document.addEventListener('DOMContentLoaded', () => $parser.games(gamesDB, $make.qs('.games')))
