doctype html
html
	head
		include inc/vars.pug
		include inc/mixins.pug
		- let subTitle = 'Игры'

		meta(charset='utf-8')
		+title(title.full, subTitle)

		link(rel='canonical' href=`${URLs.same}/games`)

		include inc/meta.pug

		+includeStyles(['parsers'])

		each URL in ['./index', './music']
			link(rel='prerender' href=`${URL}`)

	body
		div.container
			include inc/header.pug

			main
				div.text
					p В этом разделе можно найти все наши игры.

				hr

				div.games
					include inc/no-js.pug

			include inc/footer.pug

		script(src="../js/games-page.js" type="module")

		include inc/bbiswu.pug
