doctype html
html
	head
		include inc/vars.pug
		include inc/mixins.pug
		- let subTitle = 'Игры'

		meta(charset='utf-8')
		+title(title.full, subTitle)

		link(rel='canonical' href=`${URLs.same}/games`)

		include inc/meta.pug

		+includeStyles(['parsers'])

		each URL in ['/', '/music']
			link(rel='prerender' href=`${URL}`)

	body
		div.container
			include inc/header.pug

			main
				div.text
					p В этом разделе можно найти все наши игры.

					p Большинство из них требуют Flash Player projector, скачать его #[+externalLink('https://www.adobe.com/support/flashplayer/debug_downloads.html', 'можно здесь')].

				hr

				div.games
					include inc/no-js.pug

			include inc/footer.pug

		+includeScripts(['db/games', 'parsers'])

		script document.addEventListener('DOMContentLoaded', () => $parser.games({ data: gamesDB, container: $make.qs('.games') }))

		include inc/bbiswu.pug
