doctype html
html
	head
		include inc/vars.pug
		include inc/mixins.pug
		- let subTitle = 'Музыка'

		meta(charset='utf-8')
		+title(title.full, subTitle)

		link(rel='canonical' href=`${URLs.same}/music`)

		include inc/meta.pug

		each URL in ['bandcamp.com', 'w.soundcloud.com']
			link(rel='dns-prefetch' href=`//${URL}`)

		+includeStyles(['parsers'])

		each URL in ['./index', './games']
			link(rel='prerender' href=`${URL}`)

	body
		div.container
			include inc/header.pug

			main
				div.text
					p В этом разделе можно найти все наши музыкальные альбомы.

					p Синглы здесь не публикуются, но их можно найти #[+externalLink('https://soundcloud.com/midipidemy/tracks', 'на SoundCloud')] или в нашем #[+externalLink('https://vk.com/audios-71897180', 'сообществе в VK')].

				hr

				div.music
					include inc/no-js.pug

			include inc/footer.pug

		script(src="../js/music-page.js" type="module")

		include inc/bbiswu.pug
