@import 'inc/vars';
@import 'inc/mixins';

@include reset;

:root {
	--prime-color: $primeColor;
	--font-size: 18px;
	--menu-border-radius: 10px;
}

::selection {
	background-color: var(--prime-color);
	color: #fff;
}

html {
	@at-root body, & {
		width: 100%;
	}

	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #fff;
	overflow-x: hidden;
	font-size: var(--font-size);
	font-family: Ubuntu, Roboto, Arial, sans-serif;
	color: #666;

	&.more-is-open {
		overflow-y: hidden;
	}
}

q { quotes: '\00AB' '\00BB' }

a {
	color: var(--prime-color);
	@include transition(.3s);

	&:hover { opacity: .8 }
}

main {
	margin: 0 auto;
	width: $pageWidth;
	padding: 20px;

	.text {
		p {
			line-height: 1.5;
			margin: .5em 0;

			&:first-child { margin-top: 0 }
			&:last-child { margin-bottom: 0 }
		}
	}

	hr {
		margin: 10px 0;
	}

	h2 {
		margin: 15px 0;
		font-size: 1.8em;

		&:first-child { margin-top: 0 }
	}

	@import 'inc/parts/main/main__error';
}
