@import 'inc/vars';
@import 'inc/mixins';

main {
	@import 'inc/parts/main/main__music', 'inc/parts/main/main__games';
}

@keyframes popup-container-anim {
	from {
		margin-top: calc(var(--container-top-margin) + 5px);
	}

	to {
		margin-top: var(--container-top-margin);
	}
}

@keyframes popup-background-anim {
	from {
		background-color: transparent;
	}

	to {
		background-color: var(--popup-background-color);
	}
}

@keyframes popup-close-btn-anim {
	from {
		opacity: 0.5;
	}

	to {
		opacity: 0.8;
	}
}

.popup {
	--container-top-margin: 10px;
	--popup-background-color: #{rgba(#000, 0.3)};
	--popup-anim-duration: 0.5s;

	display: block;
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	background-color: var(--popup-background-color);
	border: 0;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 42;

	animation: popup-background-anim var(--popup-anim-duration) 1 ease-in;

	& > * {
		margin: 0 auto;
	}

	&--container {
		background-color: rgba(255, 255, 255, 0.95);

		width: #{$pageWidth - 100px};
		margin: var(--container-top-margin) auto 20px;

		animation: popup-container-anim var(--popup-anim-duration) 1 ease-in;
	}

	&--content {
		padding: 15px 20px;
		padding-bottom: 5px;

		b {
			font-weight: 500;
		}
	}

	@import 'inc/parts/main/popup__music', 'inc/parts/main/popup__games';

	&--close {
		background: none;
		display: block;
		border: 0;
		opacity: 0.8;

		font-size: 3em;
		color: #fff;
		cursor: pointer;

		@include transition(0.3s);
		user-select: none;

		&:hover {
			opacity: 0.9;
		}

		animation: popup-close-btn-anim var(--popup-anim-duration) 1 ease-in;
	}

	&--links {
		font-size: 0;
		margin-top: 5px;

		li {
			display: inline-block;
			list-style: none;
			font-size: 1.1rem;

			margin-top: 5px;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
				background-color: #fff;
				border-radius: 10px;
				border: 1px solid #d9d9d9;
				padding: 5px 10px;
				text-decoration: none;
				line-height: 1.2em;
				color: #000;

				@include transition(0.3s);

				&:hover {
					background-color: #f8f8f8;
					opacity: 1;
				}
			}
		}
	}

	.likely {
		width: 100%;
		border-top: 1px solid #d9d9d9;
		margin: 0 0 -10px 0;
		padding: 10px;

		&__widget {
			height: auto !important;
			padding: 2.5px 5px;
		}

		&__icon {
			margin-right: 3px;
		}
	}
}
