- var title = { full: 'Coffee Jam Party', short: 'Cojam', short_ru: 'Коджем' }
- var domain = 'cojam.ru'
- var version = '3.0.0'
- var URLs = { same: `https://${domain}`, favicon: '', font: 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic-ext' }
- var libsVer = { likely: '2.2.3' }
