@media screen and (max-width: #{$pageWidth - 50px}) {
	main {
		width: 100%;
	}

	.more {
		& > div {
			width: calc(100% - 40px);
		}
	}
}

@media screen and (max-width: $pageWidthMin) {
	header {
		padding: 50px 10px;
	}

	main {
		.music {
			&__album {
				display: block;
				width: 100%;
				margin: 20px auto;
			}
		}
	}

	.more {
		&__music {
			&--description {
				img {
					display: none;
				}
			}

			&--tracklist {
				display: none;
			}
		}
	}
}
