.error {
	text-align: center;
	font-size: 120%;

	& > * {
		display: none;
	}

	p {
		margin-top: 5px;
		line-height: 1.5;

		&:last-child {
			font-size: 0.8em;
		}
	}

	h1 {
		font-size: 2.5em;
		margin-bottom: 20px;
	}
}
