header.header
	h1
		a(href='/' rel='home') #{title.full} #{currentPageId}

	nav
		ul
			+menuItem('./music', 'Музыка', currentPageId === 'music')
			+menuItem('./games', 'Игры', currentPageId === 'games')
