- URLs = Object.assign({ same: `https://${domain}`, favicon: `${PATHS.img}/favicon-red.png?v=${VERSION}`, font: 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic-ext&amp;display=swap', CDN: 'https://cojam-cdn.blyat.science' }, URLs)
