- const title = { full: 'Coffee Jam Party', short: 'Cojam', short_ru: 'Коджем' }
- const domain = 'cojam.ru'
- const URLs = { same: `https://${domain}`, favicon: '/assets/img/favicon.png', font: 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic-ext' }
- const libsVer = { likely: '2.3.0' }
