- const title = { full: 'Coffee Jam Party', short: 'Cojam', short_ru: 'Коджем' }
- const URLs = { same: `https://${domain}`, favicon: `${PATHS.img}/favicon.png?v=${VERSION}`, font: 'https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;subset=cyrillic-ext' }
- const libsVer = { likely: '2.3.0' }
- const BBISWU = { yandex: '22438144', google: 'UA-41033513-3' }
